@use 'core-blocks';

html {
    font-size: clamp(14px, 1.388vw, 20px);
}

.wp-site-blocks {
    padding-left: 3.33vw;
    padding-right: 3.33vw;
}

//I hate this, but it's what they do in Twenty Twenty Two so...
.wp-site-blocks .alignfull {
    margin-left: -3.33vw !important;
    margin-right: -3.33vw !important;  
    width: unset;
}